<li class="sidebar-menu-item{% if slug === 'ui-buttons' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-buttons.html">
    <span class="sidebar-menu-text">Buttons</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-alerts' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-alerts.html">
    <span class="sidebar-menu-text">Alerts</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-avatars' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-avatars.html">
    <span class="sidebar-menu-text">Avatars</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-modals' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-modals.html">
    <span class="sidebar-menu-text">Modals</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-icons' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-icons.html">
    <span class="sidebar-menu-text">Icons</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-range-sliders' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-range-sliders.html">
    <!-- tune or low_priority or linear_scale or space_bar or swap_calls -->
    <span class="sidebar-menu-text">Range Sliders</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-datetime' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-datetime.html">
    <span class="sidebar-menu-text">Time &amp; Date</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-tables' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-tables.html">
    <span class="sidebar-menu-text">Tables</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-tabs' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-tabs.html">
    <span class="sidebar-menu-text">Tabs</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-loaders' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-loaders.html">
    <span class="sidebar-menu-text">Loaders</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-drag' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-drag.html">
    <span class="sidebar-menu-text">Drag &amp; Drop</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'ui-pagination' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}ui-pagination.html">
    <span class="sidebar-menu-text">Pagination</span>
  </a>
</li>