<li class="sidebar-menu-item{% if slug === 'edit-account' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}edit-account.html">
    <span class="sidebar-menu-text">Edit Account</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'appointments' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}appointments.html">
    <span class="sidebar-menu-text">Appointments</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'properties' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}properties.html">
    <span class="sidebar-menu-text">Properties</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'blog' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}blog.html">
    <span class="sidebar-menu-text">Blog</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'trello' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}trello.html">
    <span class="sidebar-menu-text">Trello</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'chat' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}chat.html">
    <span class="sidebar-menu-text">Chat</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'course' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}course.html">
    <span class="sidebar-menu-text">Course</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'tickets' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}tickets.html">
    <span class="sidebar-menu-text">Tickets</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'login' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}login.html">
    <span class="sidebar-menu-text">Login</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'signup' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix or '' }}signup.html">
    <span class="sidebar-menu-text">Sign up</span>
  </a>
</li>