<div id="email" class="d-flex justify-content-between bg-white">
  <div class="apps--sidebar d-none d-xl-block h-100"  style="overflow-y: auto;" data-simplebar data-simplebar-force-enabled="true">
    <button class="btn btn-white btn-sm d-block d-sm-none" data-toggle="apps--sidebar"><i class="material-icons md-18 align-middle">close</i> <span class="align-middle">Close</span></button>
    <a href="#" class="list-group-item list-group-item-action list-group-item-unread">
      <div class="media">
        <div class="media-body">
          <div class="float-right text-muted">Mon 9/12</div>
          <div class="mb-1">
            <div class="list-group-item--title">Andrew Robles</div
            >
            <div>Welcome User</div>
          </div>
          <span class="text-muted">
            Welcome to our Flow Admin Front-End Design...
          </span>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="media">
        <div class="media-body">
          <div class="float-right text-muted">Mon 9/12</div>
          <div class="mb-1">
            <div class="list-group-item--title">Matt Desmond</div
            >
            <div>draft review 2</div>
          </div>
          <span class="text-muted">
            I really think we should add clients to our app...
          </span>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="media">
        <div class="media-body">
          <div class="float-right text-muted">
            <span class="mr-1">Mon 9/12</span>
            <i class="material-icons text-muted md-18 align-middle">attachment</i>
          </div>
          <div class="mb-1">
            <div class="list-group-item--title">John Smith</div
            >
            <div>New design ideas</div>
          </div>
          <span class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing...
          </span>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="media">
        <div class="media-body">
          <div class="float-right text-muted">Mon 9/12</div>
          <div class="mb-1">
            <div class="list-group-item--title">Simon Lock</div
            >
            <div>let's discuss it today</div>
          </div>
          <span class="text-muted">
            we can discuss the updates today
          </span>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="media">
        <div class="media-body">
          <div class="float-right text-muted">Mon 9/12</div>
          <div class="mb-1">
            <div class="list-group-item--title">Andrew Robles</div
            >
            <div>Welcome User</div>
          </div>
          <span class="text-muted">
            Welcome to our Flow Admin Front-End Design...
          </span>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="media">
        <div class="media-body">
          <div class="float-right text-muted">Mon 9/12</div>
          <div class="mb-1">
            <div class="list-group-item--title">Matt Desmond</div
            >
            <div>draft review 2</div>
          </div>
          <span class="text-muted">
            I really think we should add clients to our app...
          </span>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="media">
        <div class="media-body">
          <div class="float-right text-muted">
            <span class="mr-1">Mon 9/12</span>
            <i class="material-icons text-muted md-18 align-middle">attachment</i>
          </div>
          <div class="mb-1">
            <div class="list-group-item--title">John Smith</div
            >
            <div>New design ideas</div>
          </div>
          <span class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing...
          </span>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="media">
        <div class="media-body">
          <div class="float-right text-muted">Mon 9/12</div>
          <div class="mb-1">
            <div class="list-group-item--title">Simon Lock</div
            >
            <div>let's discuss it today</div>
          </div>
          <span class="text-muted">
            we can discuss the updates today
          </span>
        </div>
      </div>
    </a>
  </div>
  <div class="container-wrapper w-100 h-100" style="overflow-y: auto;">
    <button class="btn btn-primary d-lg-none mb-3 text-left" type="button" id="toggleAppSidebar">
      <i class="material-icons md-18 align-middle">chevron_left</i> <span class="align-middle">Emails</span>
    </button>
    <div class="clearfix"></div>

    <div class="media align-items-center mb-2">
      <img src="assets/images/avatars/andrew-robles-300868.jpg" class="img-fluid rounded-circle mr-2" width="60" alt="">
      <div class="media-body">
        <div class="lead">Andrew Robles</div>
        <div class="text-muted">11:33 AM</div>
      </div>
    </div>
    <div class="email--message--body">
      <p class="lead m-0">Welcome to Flow!</p>
      <p class="mb-0">To: <a href="#">user@email.com</a></p>
      <hr>
      <p><strong>Hi User,</strong></p>
      <p>Welcome to our application Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, illo neque. Ab sint corrupti in omnis mollitia cumque repudiandae. Dignissimos amet, reprehenderit hic perferendis praesentium quisquam voluptates eius, vero labore.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente porro provident architecto sunt rerum, consectetur harum iste similique eligendi nostrum repudiandae natus assumenda blanditiis nesciunt doloribus ipsam quam? Ducimus, laudantium.</p>
      <p class="mb-0">
        <strong>Thanks,</strong>
      </p>
      <p>The Flow team.</p>
    </div>
    <div class="mt-auto">
      <textarea name="email" class="form-control mb-1" cols="30" rows="10" placeholder="Reply to e-mail..."></textarea>
      <button class="btn btn-success float-right">Send <i class="material-icons md-18  align-bottom">send</i></button>
    </div>
  </div>
</div>