{%
  set contacts = [
    {
      name: "Steven Short",
      active: 'active now',
      image: 'assets/images/avatars/lucas-sankey-378674.jpg'
    },
    {
      name: "Tara Knows",
      active: 'active now',
      image: 'assets/images/avatars/kyle-broad-29486.jpg'
    },
    {
      name: "Mark Ups",
      active: 'active 14 minutes ago',
      image: 'assets/images/avatars/foto-sushi-128246.jpg'
    },
    {
      name: "Karen Smith",
      active: 'active 2 hours ago',
      image: 'assets/images/avatars/james-garcia-76433.jpg'
    },
    {
      name: "John Smith",
      active: 'active 8 hours ago',
      image: 'assets/images/avatars/nathan-fertig-67862.jpg'
    },
    {
      name: "Steven Short",
      active: 'active now',
      image: 'assets/images/avatars/lucas-sankey-378674.jpg'
    },
    {
      name: "Tara Knows",
      active: 'active now',
      image: 'assets/images/avatars/kyle-broad-29486.jpg'
    },
    {
      name: "Mark Ups",
      active: 'active 14 minutes ago',
      image: 'assets/images/avatars/foto-sushi-128246.jpg'
    },
    {
      name: "Karen Smith",
      active: 'active 2 hours ago',
      image: 'assets/images/avatars/james-garcia-76433.jpg'
    },
    {
      name: "John Smith",
      active: 'active 8 hours ago',
      image: 'assets/images/avatars/nathan-fertig-67862.jpg'
    },
    {
      name: "Steven Short",
      active: 'active now',
      image: 'assets/images/avatars/lucas-sankey-378674.jpg'
    },
    {
      name: "Tara Knows",
      active: 'active now',
      image: 'assets/images/avatars/kyle-broad-29486.jpg'
    },
    {
      name: "Mark Ups",
      active: 'active 14 minutes ago',
      image: 'assets/images/avatars/foto-sushi-128246.jpg'
    },
    {
      name: "Karen Smith",
      active: 'active 2 hours ago',
      image: 'assets/images/avatars/james-garcia-76433.jpg'
    },
    {
      name: "John Smith",
      active: 'active 8 hours ago',
      image: 'assets/images/avatars/nathan-fertig-67862.jpg'
    }
  ]
%}

<div id="chat" class="d-flex justify-content-between bg-white">
  <div class="d-flex flex-column w-100">
    <button class="btn btn-primary d-lg-none mb-3 text-left" type="button" id="toggleAppSidebar">
      <i class="material-icons md-18 align-middle">chevron_left</i> <span class="align-middle">Contacts</span>
    </button>
    <div class="chat-info p-3" style="overflow-y: auto;" data-simplebar data-simplebar-force-enabled="true">
      <div class="media chat-head">
        <img src="assets/images/avatars/lucas-sankey-378674.jpg" class="img-fluid rounded-circle mr-2" width="40" alt="">
        <div class="media-body lh-12">
          <div class="lead">Steven Short</div>
          <div class="text-muted">Active Now</div>
        </div>
        <a class="btn btn-white btn-sm mr-2" data-toggle="tooltip" data-placement="bottom" title="Call">
          <i class="material-icons mb-18 align-middle text-success">phone</i>
        </a>
        <a class="btn btn-white btn-sm mr-2" data-toggle="tooltip" data-placement="bottom" title="View profile">
          <i class="material-icons mb-18 align-middle text-link-color">account_circle</i>
        </a>
        <a class="btn btn-white btn-sm">
          <i class="material-icons mb-18 align-middle text-muted">settings</i>
        </a>
      </div>
      <div class="media align-items-center mb-3">
        <img src="assets/images/avatars/lucas-sankey-378674.jpg" class="img-fluid rounded-circle mr-2" width="35" alt="">
        <div class="media-body">
          <div class="chat-message chat-message__in">
            Hey Adrian! How are you doing?
          </div>
        </div>
      </div>
      <div class="media align-items-center mb-3">
        <div class="media-body">
          <div class="text-right">
            <div class="chat-message chat-message__out">
              Hi there! I'm fine...just getting some work done. How about you?
            </div>
          </div>
        </div>
        <img src="assets/images/avatars/andrew-robles-300868.jpg" class="img-fluid rounded-circle ml-2" width="35" alt="">
      </div>
      <div class="media align-items-center mb-3">
        <img src="assets/images/avatars/lucas-sankey-378674.jpg" class="img-fluid rounded-circle mr-2" width="35" alt="">
        <div class="media-body">
          <div class="chat-message chat-message__in">
            Awesome! Just got back from my 2 weeks vacation and I had such a great time.
          </div>
        </div>
      </div>
      <div class="media align-items-center mb-1">
        <div class="media-body">
          <div class="text-right">
            <div class="chat-message chat-message__out">
              That's great, I'm glad. I have a suprise for you when you'll get back to the office.
            </div>
          </div>
        </div>
        <img src="assets/images/avatars/andrew-robles-300868.jpg" class="img-fluid rounded-circle ml-2" width="35" alt="">
      </div>
      <div class="media align-items-center mb-1">
        <div class="media-body">
          <div class="text-right">
            <div class="chat-message chat-message__out">
              It's about a new project that I started.
            </div>
          </div>
        </div>
        <img src="assets/images/avatars/andrew-robles-300868.jpg" class="img-fluid rounded-circle ml-2" width="35" alt="">
      </div>
      <div class="media align-items-center mb-3">
        <div class="media-body">
          <div class="text-right">
            <div class="chat-message chat-message__out">
              Hope you'll like it.
            </div>
          </div>
        </div>
        <img src="assets/images/avatars/andrew-robles-300868.jpg" class="img-fluid rounded-circle ml-2" width="35" alt="">
      </div>
      <div class="media align-items-center mb-1">
        <img src="assets/images/avatars/lucas-sankey-378674.jpg" class="img-fluid rounded-circle mr-2" width="35" alt="">
        <div class="media-body">
          <div class="chat-message chat-message__in">
            That's great news!
          </div>
        </div>
      </div>
      <div class="media align-items-center mb-3">
        <img src="assets/images/avatars/lucas-sankey-378674.jpg" class="img-fluid rounded-circle mr-2" width="35" alt="">
        <div class="media-body">
          <div class="chat-message chat-message__in">
            See you soon
          </div>
        </div>
      </div>
    </div>
    <div class="chat-input mt-auto">
      <div class="input-group input-group--inline">
        <div class="input-group-addon">
          <i class="material-icons">send</i>
        </div>
        <input type="text" class="form-control" name="chat-message chat-message" placeholder="Type a message...">
      </div>
    </div>
  </div>
  <div class="apps--sidebar d-none d-xl-block h-100"  style="overflow-y: auto;" data-simplebar data-simplebar-force-enabled="true">
    <button class="btn btn-white btn-sm d-block d-sm-none" data-toggle="apps--sidebar"><i class="material-icons md-18 align-middle">close</i> <span class="align-middle">Close</span></button>
    {% for contact in contacts %}
      <a href="#" class="list-group-item list-group-item-action {% if loop.index0 == 0 %}list-group-item-unread{% endif %}">
        <div class="media align-items-center">
          <img src="{{ contact.image }}" class="img-fluid rounded-circle mr-2" width="35" alt="">
          <div class="media-body">
            <div class="list-group-item--title">{{ contact.name }}</div>
            <small>
              {{ contact.active }}
            </small>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>