.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.h-vh {
  height: 100vh;
}

.container.container-blog-comment {
  width: 50%;
}

@include media-breakpoint-down(sm) {
  .container.container-blog-comment {
    width: 75%;
  }

  .container-fluid.container-account {
    .row .col-lg-6 {
      &:not(:last-of-type) {
        margin-bottom: 1.25rem;
      }
    }
  }
}